@font-face {
  font-family: Poppins-Regular;
  src: url(../../commen/fonts/poppins/Poppins-Regular.ttf )
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../../commen/fonts/poppins/Poppins-Medium.ttf)
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../../commen/fonts/poppins/Poppins-Bold.ttf)
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../../commen/fonts/poppins/Poppins-SemiBold.ttf)
}

.Poppins-Regular {
  font-family: Poppins-Regular;
}

.Poppins-Medium {
  font-family: Poppins-Medium;
}

.Poppins-Bold {
  font-family: Poppins-Bold;
}

.Poppins-SemiBold {
  font-family: Poppins-SemiBold;
}

/* spesific calss */
.fw-14{
  font-size: 14px;
}

.lightgray{
  color: #666;
}

.mt-7 {
  margin-top: 7rem !important;
}
/* ----------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif
}

a {
  font-family: Poppins-Regular;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
}

a:focus {
  outline: none !important
}

a:hover {
  text-decoration: none;
  color: #a64bf4
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #333;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0
}


button {
  outline: none !important;
  border: none;
  background: 0 0
}

button:hover {
  cursor: pointer
}

iframe {
  border: none !important
}

/* ------------------------------------- */

.Main-Container {
  background-image: url(../images/bg-01.jpg);
  background-position: center;
  background-size: cover;
}

.sec-container{
  border-radius: 10px;
}

.posInContaner{
  width: fit-content;
  justify-self: end;
  margin-left: auto;
}
/* -------------------------------------- */
